{{ form(edit_form) }}

<ul class="record_actions">
	<li>
	   <a href="{{ path('ws_user_bundle_user_list') }}">
	       {{ 'user.buttons.list'|trans }}
	   </a>
	</li>
	<li>
	   <a href="{{ path('ws_user_bundle_user_delete', { 'id': user.id }) }}">
	       {{ 'user.buttons.delete'|trans }}
	   </a>
	</li>
</ul>

