{% trans_default_domain 'WSUserBundle' %}

<form action="{{ path('WSUserBundle_security_login_check') }}" method="post">
    <label for="username">{{ ('form.' ~ get_param('ws_user.security.login_by') )|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'form.pass'|trans }}</label>
    <input type="password" id="password" name="_password" />
    
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">{{ 'form.remember'|trans }}</label>
    
    <input type="hidden" name="_csrf_token" value="{{ csrf }}" />

    <button type="submit">{{ 'form.submit'|trans }}</button>
</form>