{% extends 'WSUserBundle::layout.email.twig' %}

{% block content_html %}
{% set url = '<a href="' ~ url ~ '">' ~ url ~ '</a>' -%}
{{ 'ws_user_bundle.password.ask.body'|trans({'{{ url }}': url, '{{ username }}': user.username}, 'emails')|nl2br|raw }}
{% endblock content_html %}

{% block body_text %}
{{ 'ws_user_bundle.password.ask.body'|trans({'{{ url }}': url, '{{ username }}': user.username}, 'emails') }}
{% endblock body_text %}