{% trans_default_domain 'WSUserBundle' %}

<table class="ws_user_bundle_user_list">
	<thead>
		<tr>
			<th{% if users.isSorted('u.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.id'|trans, 'u.id') }}
            </th>
            <th{% if users.isSorted('u.username') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.username'|trans, 'u.username') }}
            </th>
            <th{% if users.isSorted('u.email') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.email'|trans, 'u.email') }}
            </th>
            <th{% if users.isSorted('u.registerAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.registerat'|trans, 'u.registerAt') }}
            </th>
            <th{% if users.isSorted('u.lastLogin') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.lastlogin'|trans, 'u.lastLogin') }}
            </th>
            <th{% if users.isSorted('u.enabled') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.enabled'|trans, 'u.enabled') }}
            </th>
            <th{% if users.isSorted('u.locked') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.locked'|trans, 'u.locked') }}
            </th>
            <th{% if users.isSorted('u.expired') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.expired'|trans, 'u.expired') }}
            </th>
            <th{% if users.isSorted('u.credentialsExpired') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'entity.user.credentialsexpired'|trans, 'u.credentialsExpired') }}
            </th>
			<th>{{ 'tables.actions'|trans }}</th>
		</tr>
	</thead>
	<tbody>
	{% for user in users %}
		<tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ path('ws_user_user_show', { 'username': user.username }) }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{% if user.registerAt %}{{ user.registerAt|date('Y-m-d H:i:s') }}{% endif %}</td>
			<td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
			<td>{{ user.enabled }}</td>
			<td>{{ user.locked }}</td>
			<td>{{ user.expired }}</td>
			<td>{{ user.credentialsExpired }}</td>
			<td>
			<ul>
				<li>
					<a href="{{ path('ws_user_user_show', { 'username': user.username }) }}">
					   {{ 'links.user.show'|trans }}
                    </a>
				</li>
				<li>
					<a href="{{ path('ws_user_user_edit', { 'username': user.username }) }}">
					   {{ 'links.user.edit'|trans }}
				    </a>
				</li>
			</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<ul>
    <li>
		<a href="{{ path('ws_user_user_new') }}">{{ 'links.user.new'|trans }}</a>
	</li>
</ul>

{{ form(deleteForm) }}
